config.h
eel.pc
build
include/EEL_platform.h
include/EEL_version.h
eelbox/configure
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/core/CMakeFiles/
src/core/Makefile
src/core/cmake_install.cmake
src/core/libeel.so*
src/executive/CMakeFiles/
src/executive/Makefile
src/executive/cmake_install.cmake
src/executive/eel
test/CMakeFiles/
test/Makefile
test/cmake_install.cmake
test/eeltest
